

body{
  background: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

header, footer{
  background: linear-gradient(rgba(187, 10, 119, 1), transparent);
}